a {

  font-size: 20px;
}
  a:hover {

    text-decoration: none;
  }
body {
  
  text-align: center;
  font: 18px 'Roboto', sans-serif;
}
h1 {

  font: 60px Monoton, sans-serif;
  color: rgb(284, 84, 95);
}
h2, h3 {

  font: 30px 'Orbitron' sans-serif;
  color: #165388;
  padding: 10px 0 10px 0;
}
li {
  list-style-type: none;
  padding: 5px;
}
  li:hover:nth-child(even) {

    background-color: rgba(284, 84, 95, 0.5);
    transition: .5s ease;
  }
  li:hover:nth-child(odd) {

    background-color: rgba(41, 145, 234,0.5);
    transition: .5s ease;
  }
ul {

  padding-left: 0;
}

.blue-text {

  color: #0B91F2;
}
.container{
  
  background-repeat: no-repeat; 
}
button.btn {

  margin-left: 5%;
  font-size: 5px;
  max-width: 10%;
}
.gray-text {
    margin: 0 auto;
    padding-left: 5px;
}
.img-responsive {
    margin: 0 auto;
}
.location-text {

  margin-top: 15px;
}
.nameRole {
  color: #6C6C6C;
  padding-left: 5px;
  text-align: right;
}
.location-text{

  margin-top: 15px;
}
.row {

  margin: 10px 0 10px 0;
  padding: 10px;

}
  .row:nth-child(odd) {

    border: 1px solid #2991EA;

  }
  .row:nth-child(even) {

    border: 1px solid rgb(284, 84, 95);
  }


.welcome-message p, .workEntry p {

  margin-top: 0;
}
.row:nth-child(even) {

  border: 1px solid rgb(284, 84, 95);
  margin: 10px 0 10px 0;
  padding: 10px;
}
.welcome-message p {

  margin-top: 0;
}
.workEntry p {

margin-top: 0;
}
#letsConnect h2 { 

  font: 60px Monoton, sans-serif;
  color: rgb(284, 84, 95);
}
#map {
  height: 100%;
}
#mapDiv {
  height: 400px;
  max-width: 100%;
  overflow: auto;
}
#name {

  margin-bottom: 0;
}
#projects, #education{
  border: none;
}
#position {

  margin-top: 0;
}
.education-entry, .work-entry, .project-entry, #education h3 {

  display: none;
}

@media screen and (min-width: 770px) {

    button.btn {
    
    margin-left: 5%;
    font-size: 10px;
    max-width: 20%;
  }
}
@media screen and (max-width: 990px) {

  h1 {

    font-size: 40px;
    padding-top: 35px;
  }

  h2, h3 {

    font-size: 20px;
  }
}

@media screen and (max-width: 770px) {

  .project-entry img {

    padding-top: 15px;
  }

}


@media screen and (max-width: 470px) {


  .nameRole {

    text-align: center;

    background-repeat: no-repeat;
  }

  .container {

   
    background-repeat: no-repeat;

  }